<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="0.12.1.0" targetFramework="net40" />
  <package id="MahApps.Metro.Resources" version="0.1.0.1" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.166" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Mono.Options" version="1.1" targetFramework="net40" />
  <package id="MSBuildTasks" version="1.4.0.65" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net40" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40" />
  <package id="NLog" version="2.1.0" targetFramework="net40" />
  <package id="NLog.Config" version="2.1.0" targetFramework="net40" />
  <package id="NLog.Schema" version="2.1.0" targetFramework="net40" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net40" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net40" />
  <package id="YamlSerializer" version="1.0" targetFramework="net40" />
</packages>